{
    "extends": ["plugin:prettier/recommended"],
    "rules": {
      "max-len": [
        "error",
        {
          "code": 140
        }
      ],
      "prettier/prettier": "error",
      "semi": ["error", "always"],
      "quotes": ["error", "single"],
      "@typescript-eslint/no-explicit-any": "off"
    },
    "parserOptions": {
      "ecmaVersion": 2020
    },
    "env": {
      "es6": true
    }
  }